@use "./reset.scss";
@use "./themes/dark.scss";
@use "./themes/normal.scss";
@use "./variables/global.scss";
@use "./themes/pink.scss";

body {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
