.primary {
    .title {
    color: var(--primary-color);
}
    .text {
    color: var(--primary-color);
}
}


.main {
    .title {
        color: var(--color-main-text)
    }
     .text {
        color: var(--color-main-text)
    }
}

.error {
    .title {
        color: var(--color-red-light);
    }

    .text {
        color: var(--color-red-dark);
    }
}



.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_xxl {
    .title {
        font: var(--font-xxl);
        cursor: default;
    }

    .text {
        font: var(--font-xxl);
    }
}

.size_xxl_secondary_font {
    .title {
        font: var(--font-xxl-secondary-font);
        cursor: default;
        
        
    }

    .text {
        font: var(--font-xxl-secondary-font);
    }
}

