.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 35px;
}

.skeleton {
    margin-top: 15px;
}

.articleBlock {
    display: flex;
    align-items: center;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.iconDetails {
    margin-right: 10px;
}

.block {
    margin-top: 15px;
}
