.aboutPage {
    width: 100%;
    // background: url('../../../shared/assets/picture/about-us.webp') no-repeat center center / cover;
    background-color: var(--about-bg);
    min-height: 100vh;
    padding-left: var(--sidebar-width);
    padding-top: var(--navbar-height);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    
    
}

.textBlock {
    margin-top: 35px;
}

.text{
    margin-top: 15px;
}