.sidebar {
    height: calc(100vh);
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.5s;
    
    position: fixed;
    top: 0; // ниже navbar
    left: 0;
    bottom: 0;

    

    background: rgba(255, 255, 255, 0.05); // прозрачность
    backdrop-filter: blur(10px); // 🔥 магия стекла
    -webkit-backdrop-filter: blur(10px); // для Safari

    border-right: 1px solid rgba(255, 255, 255, 0.2);

    z-index: 50;

    
}


.collapsedBtn {
    position: absolute;
    right: -31.5px;
    bottom: 30px;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.items {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.link {
    margin-left: 15px;
    opacity: 1;
}

.item {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    .switchers {
        flex-direction: column;
        align-items: center;
    }
    .lang {
        margin-left: 0;
    }
    .link {
        opacity: 0;
        width: 0;
    }
}
