.tile {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    // .card {
    //     margin-right: 30px;
    //     margin-bottom: 30px;
    // }
}

.list {
    display: block;

    .card {
        margin-bottom: 30px;
    }
}
