.ArticleList {
    padding-bottom: 75px;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    
}

.list {
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}


.skeletonsWrapperList {
margin-top: 60px;
}

.skeletonsWrapperTile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
