.list {
    .card {
        margin-bottom: 30px;
    }

    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .usernameSkeleton {
        margin-left: 8px;
        margin-top: 10px;
    }

    .date {
        margin-left: auto;
    }

    .dateSkeleton {
        margin-left: auto;
        margin-top: 15px;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        width: 100%;
        max-height: 250px;
        object-fit: contain;
    }

    .imgSkeleton {
        width: 100%;
        max-height: 250px;
        object-fit: contain;
        margin-top: 10px;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footerSkeleton {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .textBlock {
        max-height: 150px;
        overflow-y: hidden;
        position: relative;
        mask-image:
            linear-gradient(
                to bottom,
                rgb(0 0 0 / 100%) 60%,
                rgb(0 0 0 / 70%) 75%,
                rgb(0 0 0 / 30%) 90%,
                rgb(0 0 0 / 0%) 100%
            );
    }

    .btnList {
        margin-top: 12px;
    }
}

.tile {
    width: 210px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 30%);
    transition: 0.2s;
    background: var(--card-bg);
    cursor: pointer;

    .imgWrapper {
        max-width: 180px;
        max-height: 180px;
        position: relative;
    }

    .imgWrapperSkeleton {
        max-width: 180px;
        max-height: 180px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .img {
        width: 180px;
        height: 180px;
    }

    .data {
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .infoWrapperSkeleton {
        display: flex;
        align-items: center;
        margin-top: 28px;
    }

    .types p {
        width: 135px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: auto;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }

    .title p {
        width: 135px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    :hover {
        opacity: 0.9;

        .date {
            opacity: 1;
            visibility: visible;
        }
    }
}
