.app_dark {
    // --bg-color: #8e9b83;
    // --inverted-bg-color: #d4d4ce;
    // --primary-color: rgb(17 107 17);
    // --secondary-color: rgb(120 184 120);
    // --inverted-primary-color: #043d0d;
    // --inverted-secondary-color: #3535d3;

    --bg-color: #0f1b1a;                 /* ночь в горах */
    --inverted-bg-color: #f3f6f5;
    --primary-color: #4fd1b3;            /* подсвеченная хвоя */
    --secondary-color: #7dd3fc;          /* ледяной голубой */
    --inverted-primary-color: #1f6f5c;
    --inverted-secondary-color: #4aa3df;
    --card-bg: #9fa2a1;
}
