.app_dark {
    --bg-color: #0f1b1a;                 
    --inverted-bg-color: #333333;
    --secondary-color: #7dd3fc;          
    --inverted-primary-color: #F5F5F5;
    --inverted-secondary-color: #4aa3df;
    --card-bg: #9fa2a1;

    //после редизайна
    --about-bg: #333333;
    --primary-color: #CCCCCC;
    --main-image-overlay: rgba(0, 0, 0, 0.6);
    --bg-blend-mode: multiply;  
}
