.app_dark {
    --bg-color: #0f1b1a;
    --inverted-bg-color: #333;
    --secondary-color: #7dd3fc;
    --inverted-primary-color: #f5f5f5;
    --inverted-secondary-color: #4aa3df;
    --card-bg: #9fa2a1;

    // после редизайна
    --about-bg: #333;
    --primary-color: #ccc;
    --main-image-overlay: rgb(0 0 0 / 60%);
    --bg-blend-mode: multiply;
}
