:root {
    --bg-color: #c2a6b8;                 
    --inverted-bg-color: #808080;       
    --secondary-color: #4aa3df;          
    --inverted-primary-color: #FFF8F0;   
    --inverted-secondary-color: #cfe9f8; 
    --card-bg: #b5e8de;

    //после редизайна
    --about-bg: #555555;
    --primary-color: #fff;
    --bg-blend-mode: multiply;
    --main-image-overlay: none;   
}
