:root {
    // --bg-color: #d4d4ce;
    // --inverted-bg-color: #8e9b83;
    // --primary-color: #043d0d;
    // --secondary-color: #3535d3;
    // --inverted-primary-color: rgb(17 107 17);
    // --inverted-secondary-color: rgb(120 184 120);
    --bg-color: #f3f6f5;                 /* снежный фон */
    --inverted-bg-color: #66b8a7;       /* светлый, но не слишком бледный */
    --primary-color: #1f6f5c;            /* alpine green */
    --secondary-color: #4aa3df;          /* горный холодный синий */
    --inverted-primary-color: #1a5f50;   /* мягкий мятный */
    --inverted-secondary-color: #cfe9f8; /* светлый ледяной */
    --card-bg: #b5e8de;
}
