.app.light {
    --bg-color: #d4d4ce;
    --inverted-bg-color: #8e9b83;
    --primary-color: #043d0d;
    --secondary-color: #3535d3;
    --inverted-primary-color: rgb(17 107 17);
    --inverted-secondary-color: rgb(120 184 120);
}
