.app_pink {
    --bg-color: #BAA1A7;
    --inverted-bg-color: #8E696A;
    --primary-color: rgb(17 107 17);
    --secondary-color: rgb(120 184 120);
    --inverted-primary-color: #043d0d;
    --inverted-secondary-color: #3535d3;
}
