.link {
    margin-left: 10px;
    opacity: 1;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;

        // transition: 0.1s opacity;
        width: 0;
    }
}
